<a href="<%= R(TableCreate) %>">New table</a><br />

Tables:
<ul>
    <% @tables.each do |table| %>

        <li><a href="<%= R(TableViewN, table.id) %>"><%== table.game.name %> - <%== table.created_at %></a></li>
    </li>
    <% end %>
</ul>

Users:
<ul>
    <% @users.each do |user| %>
        <li><a href="<%= R(UserViewN, user.id) %>"><%== user.handle %></a></li>
    <% end %>
</ul>
<a href="<%= R(UserCreate) %>">Create new</a><br />
Games:
<ul>
    <% @games.each do |game| %>
        <li><a href="<%= R(GameViewN, game.id)%>"><%== game.name %></a></li>
    <% end %>

</ul>
<a href="<%= R(GameCreate) %>">Create new</a><br />

<a href="<%= R(GameRanking) %>">Game Rankings</a><br />
<a href="<%= R(GameFilter) %>">Activity List </a><br />
