
<% if is_admin %>

<a href="<%= R(TableCreate) %>">New table</a><br />

Tables:
<ul>
    <% @tables.each do |table| %>

        <li><a href="<%= R(TableViewN, table.id) %>"><%== table.game.name %> - <%== ts table.created_at %></a></li>
    </li>
    <% end %>
</ul>
<% if false %>
Users:
<ul>
    <% @users.each do |user| %>
        <li><a href="<%= R(UserViewN, user.id) %>"><%== user.handle %></a></li>
    <% end %>
</ul>
<% end %>
<a href="<%= R(UserCreate) %>">Create new player</a><br />
<% if false %>
Games:
<ul>
    <% @games.each do |game| %>
        <li><a href="<%= R(GameViewN, game.id)%>"><%== game.name %></a></li>
    <% end %>

</ul>
<% end %>
<a href="<%= R(GameCreate) %>">Create new game</a><br />
<% end %>
<br />
<a href="<%= R(GameRanking) %>">Game Rankings</a><br />
<a href="<%= R(GameFilter) %>">Activity List </a><br />
<br />
<br />

<% if is_admin %>
    <a href="<%= R(Logout) %>">Logout</a>
<% else %>
        <a href="<%= R(Login) %>">Login</a> 
<% end %>
